/* Covid */

#btn_ccovid{
    -fx-background-color:#231c45;
    -fx-background-radius: 0em;
}
/*#btn_covid:hover{*/
/*    -fx-background-color:#6b3da6;*/
/*}*/
/*#btn_covid:pressed{*/
/*    -fx-background-color:#441d75;*/
/*}*/


#btn_cwaluta{
    -fx-background-color:#985ee4;
    -fx-background-radius: 0em;
}

#btn_cwaluta:hover{
    -fx-background-color:#6b3da6;
}

#btn_cwaluta:pressed{
    -fx-background-color:#231c45;
}


#btn_cpogoda{
    -fx-background-color:#985ee4;
    -fx-background-radius: 0em;
}
#btn_cpogoda:hover{
    -fx-background-color:#6b3da6;
}

#btn_cpogoda:pressed{
    -fx-background-color:#231c45;
}


/* Pogoda */


#btn_ppogoda{
    -fx-background-color:#231c45;
    -fx-background-radius: 0em;
}
/*#btn_covid:hover{*/
/*    -fx-background-color:#6b3da6;*/
/*}*/
/*#btn_covid:pressed{*/
/*    -fx-background-color:#441d75;*/
/*}*/


#btn_pwaluta{
    -fx-background-color:#985ee4;
    -fx-background-radius: 0em;
}

#btn_pwaluta:hover{
    -fx-background-color:#6b3da6;
}

#btn_pwaluta:pressed{
    -fx-background-color:#231c45;
}


#btn_pcovid{
    -fx-background-color:#985ee4;
    -fx-background-radius: 0em;
}
#btn_pcovid:hover{
    -fx-background-color:#6b3da6;
}

#btn_pcovid:pressed{
    -fx-background-color:#231c45;
}